<%- include("../includes/head") %>

<section class="max-width">
  <h1>Password Reset Link is send to your email account!</h1>
  <p>Check Your Inbox</p>
  <p>Or</p>
  <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">Click To Open Gmail App</a>
  <a href="/">Go Back Home</a>
</section>
<%- include("../includes/footer") %>