.title{
    text-align: center;
    font-size: 50px;
}
.desc{
    color: palevioletred;
    /* text-align: center; */
}
.authenticate , .authenticate div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.authenticate span{
    font-size: 20px;
    font-weight: 600;
}

a{
    display: block;
    margin: 10px 0;
    color: #fff;
    background-color: black;
    padding: 8px 10px;
    width: fit-content;
    text-decoration: none;
    
}

div{
    margin: 20px 0;
}
label{
    display: block;
    margin-top: 20px;
}

input{
    font-size: 18px;
    padding: 4px 10px;
    width: 100%;

}

button, .btn-edit{
    margin: 10px 0;
    color: #fff;
    background-color: black;
    padding: 8px 10px;
    width: 100%;
    cursor: pointer;
}

.max-width{
    width: 50%;
    margin: auto;
}

.post{
    text-align: center;
}

.logout-add-post{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logout-add-post span{
    font-size: 20px;
    font-weight: 600;
}

.post-container{
    display: flex;
    flex-wrap: wrap;
}
.post-box{
    padding: 10px 20px;
    display: block;
    align-items: center;
    justify-content: space-between;

}

.post-title{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.post-email{
    font-style: italic;
    color: magenta;
}

.detail{
    width: 70%;
    margin: auto;
    text-align: center;
}

.detail img{
    width: 80%;
    margin: auto;
}

.errorMsg{
    color: red;
    text-align: center;
}

.error-page{
    text-align: center;
    margin-top: 60px;
}

.error-page h1{
    font-size: 40px;
}

.error-page a{
    margin: auto;
}